/* viewer.css 덮어쓰기 */
.toolbar {
  display: none !important;
}

#sidebarContainer {
  position: absolute;
  top: 0px;
  border-top: none;
}

#viewerContainer {
  top: 0;
}

/* main.css */
.wrap {
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pdf-toolbar {
  text-align: center;
}
